<div class="question">
    <form>
        <h3 id="timer"></h3>
        <label>Schrödinger's cat</label>
        <input id="questionnumber" type="hidden" value="10">
        <input id="correct" type="hidden" value="b">
        <br>
        <br>
        <button type="button" onclick="ans('b');"> SchrödingersCat </button>
        <br>
        <button type="button" onclick="ans('a');"> SchrödingerCat </button>
        <br>
        <button type="button" onclick="ans('d');"> SchrödingersCar </button>
        <br>
        <button type="button" onclick="ans('c');"> SchrödingersCap </button>
        
    </form>
</div>