<div class="question">
    <form>
        <h3 id="timer"></h3>
        <label>World Cup Final</label>
        <input id="questionnumber" type="hidden" value="12">
        <input id="correct" type="hidden" value="d">
        <br>
        <br>
        <button type="button" onclick="ans('d');"> WorldCupFinal </button>
        <br>
        <button type="button" onclick="ans('a');"> wordCupFinal </button>
        <br>
        <button type="button" onclick="ans('c');"> WorldSupFinal </button>
        <br>
        <button type="button" onclick="ans('b');"> WorstCupFinal </button>
    </form>
</div>