<div class="question">
    <form>
        <h3 id="timer"></h3>
        <label>Dynamic Programming</label>
        <input id="questionnumber" type="hidden" value="4">
        <input id="correct" type="hidden" value="c">
        <br>
        <br>
        <button type="button" onclick="ans('c');"> dynamic-programming </button>
        <br>
        <button type="button" onclick="ans('b');"> dynamic-prognosing </button>
        <br>
        <button type="button" onclick="ans('a');"> dynamite-programming </button>
        <br>
        <button type="button" onclick="ans('d');"> dynamic-programing </button>
    </form>
</div>