<div class="question">
    <form>
        <h3 id="timer"></h3>
        <label>Empire State Building</label>
        <input id="questionnumber" type="hidden" value="5">
        <input id="correct" type="hidden" value="b">
        <br>
        <br>
        <button type="button" onclick="ans('c');"> empire-statte-building </button>
        <br>
        <button type="button" onclick="ans('d');"> empire-states-building </button>
        <br>
        <button type="button" onclick="ans('a');"> empire-stake-building </button>
        <br>
        <button type="button" onclick="ans('b');"> empire-state-building </button>
    </form>
</div>