<div class="question">
    <form>
        <h3 id="timer"></h3>
        <label>Schrödinger's cat</label>
        <input id="questionnumber" type="hidden" value="7">
        <input id="correct" type="hidden" value="b">
        <br>
        <br>
        <button type="button" onclick="ans('a');"> schrödinger-cat </button>
        <br>
        <button type="button" onclick="ans('b');"> schrödingers-cat </button>
        <br>
        <button type="button" onclick="ans('c');"> schrödingers-cap </button>
        <br>
        <button type="button" onclick="ans('d');"> schrödingers-car </button>
    </form>
</div>