<div class="question">
    <form>
        <h3 id="timer"></h3>
        <label>Leaning Tower of Pisa</label>
        <input id="questionnumber" type="hidden" value="5">
        <input id="correct" type="hidden" value="a">
        <br>
        <br>
        <button type="button" onclick="ans('a');"> leaning-tower-of-pisa </button>
        <br>
        <button type="button" onclick="ans('b');"> leaming-tower-of-pisa </button>
        <br>
        <button type="button" onclick="ans('c');"> leading-tower-of-pisa </button>
        <br>
        <button type="button" onclick="ans('d');"> leaning-tower-off-pisa </button>
    </form>
</div>