<div class="question">
    <form>
        <h3 id="timer"></h3>
        <label>World Cup Final</label>
        <input id="questionnumber" type="hidden" value="9">
        <input id="correct" type="hidden" value="d">
        <br>
        <br>
        <button type="button" onclick="ans('a');"> word-cup-final </button>
        <br>
        <button type="button" onclick="ans('b');"> worst-cup-final </button>
        <br>
        <button type="button" onclick="ans('c');"> world-sup-final </button>
        <br>
        <button type="button" onclick="ans('d');"> world-cup-final </button>
    </form>
</div>