@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.desc {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
}

body {
    background-image: linear-gradient(132deg, rgba(139, 144, 158, 0.57)  0%,  #E9E6FF 100%);
    margin: 0;
	padding: 0;
    --s: 20px; /* control the size */
    --c: rgba(139, 144, 158, 0.57);
    
    --_g: 
      #0000 calc(-650%/13) calc(50%/13),var(--c) 0 calc(100%/13),
      #0000 0 calc(150%/13),var(--c) 0 calc(200%/13),
      #0000 0 calc(250%/13),var(--c) 0 calc(300%/13);
    --_g0: repeating-linear-gradient( 45deg,var(--_g));
    --_g1: repeating-linear-gradient(-45deg,var(--_g));
    background:
      var(--_g0),var(--_g0) var(--s) var(--s),
      var(--_g1),var(--_g1) var(--s) var(--s) #906eaa;
    background-size: calc(2*var(--s)) calc(2*var(--s));
}

body h1, h2 {
    font-family: 'Nunito Sans', sans-serif;
    color: rgb(69, 10, 92);
}

body, section.container {
    width: 100vw;
    color: white;
    min-height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 3%;
    margin-bottom: 3%;
    overflow-x: hidden;
}

div.question {
    font-size: 20px;
    border: 3px solid black;
    background-color: rgba(77, 36, 116, 0.418);
    /* border-radius: 20px; */
    padding: 30px;
    /* box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; */
    margin-bottom: 3%;
    flex-shrink: 0;
    width: 100%;
    max-width: 500px;
}

div.question form {
    padding: 30px;
    font-family: 'Courier New', monospace;
}

div.question form label {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
}

div.question form input,button {
    font-family: 'Courier New', monospace;
    background-color: white;
    color: black;
    border-radius: 15px;
    border: 3px solid black;
    padding: 5px;
    margin: 5px;
    width: 100%;
    padding: 10px;
    height: 55px;
    font-weight: bold;
}

#programmer-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#programmer-input input {
    border-radius: 15px;
    border: 3px solid black;
    
}


input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 2px solid #000; 
    border-radius: 2px; 
    outline: none;
    cursor: pointer;
    vertical-align: middle;
    position: relative;
    width: 50px;
    flex-grow: 0;
}


input[type="checkbox"]:checked {
    background-color: #000; /* Background color when checked */
}


input[type="checkbox"]::before {
    content: '\2713'; /* Unicode character for a checkmark */
    display: inline-block;
    color: rgba(208, 172, 242, 0.958);
    font-size: 44px; 
    line-height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}


input[type="checkbox"]:checked::before {
    visibility: visible;
}
